
@{
    ViewBag.Title = "YetenekEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Yetenek Ekle</h2>

<form action="" method="post">
    <label>Yetenek</label>
    <input class="form-control" type="text" name="Yetenek" value="" />
    <label>Oran</label>
    <input class="form-control" type="text" name="Oran" value="" />
    <button class="btn btn-primary mt-2">Yetenek Ekle</button>
</form>