
@{
    ViewBag.Title = "DeneyimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Yeni Deneyim Ekle</h4>
<form action="" method="post">
    <label>Başlık</label>
    <input class="form-control" type="text" name="Baslik" value="" />
    <label>Alt Başlık</label>
    <input class="form-control" type="text" name="AltBaslik" value="" />
    <label>Açıklama</label>
    <input class="form-control" type="text" name="Aciklama" value="" />
    <label>Tarih</label>
    <input class="form-control" type="text" name="Tarih" value="" />
    <button class="btn btn-primary mt-2">Deneyimi Ekle</button>
</form>



