
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="m-2">Hakkımda Menüsü</h2>
<div class="col-md-12" >
    <table class="table table-bordered ">
        <tr>
            <th>ID</th>
            <th>Ad</th>
            <th>Soyad</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Serhat Çağrı</td>
            <td>Görgülü</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>

        </tr>
    </table>

</div>


